.modal-checkboxes {
    width: auto;
    margin-top: 30px;
    margin-bottom: 45px;
    @extend %flex-between-center;

    &__container {
        background: $input-elem-bg;
        z-index: 999;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        transition: transform .2s; 
        border: 2px solid $text-color;
        box-shadow: 8px 8px 20px rgba(24, 28, 38, 0.5);
        border-radius: 5px;
        width: 200px;
        height: 180px;
        margin: 0 auto;
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__refil, &__get {
        text-align: center;
        font-weight: normal !important;
        h2 { 
            font-size: $header-size;
        }
    }

    &__get {
        color: $btn-color;
    }
}

.styled-checkbox {
    position: absolute; 
    opacity: 0;
  
    & + label {
      position: absolute;
      cursor: pointer;
      padding: 0;
      margin-bottom: 0;
      bottom: -10px;
      left: 44%;  
    }
  
    & + label:before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: #3D455E;
      border-radius: 50%;
      border: 2px solid $text-color;
    }

    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + label:before {
      background: $btn-color;
    }
  
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 10px;
      background: $input-elem-bg;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 $input-elem-bg,
        4px 0 0 $input-elem-bg,
        4px -2px 0 $input-elem-bg,
        4px -4px 0 $input-elem-bg,
        4px -6px 0 $input-elem-bg,
        4px -8px 0 $input-elem-bg;
      transform: rotate(45deg);
    }
}