// Colors
$primary-color: #EEE;
$background-color: #282A3B;
$btn-color: #83F6B1;
$text-color: #91ACD4;
$input-elem-bg: #3C4561;

// Font size
$primary-size: 14px;
$select-size: 16px;
$header-size: 22px;